@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

<body>
    <div id="Root">

    </div>
    <script src="~/js/release/bundle.js"></script>
    <script src="~/js/release/app.js"></script>
</body>

</html>